<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT ezSearch ANY>
<!ATTLIST ezSearch id ID #REQUIRED>
<!ELEMENT FaqArea ANY>
<!ATTLIST FaqArea id ID #REQUIRED>
<!ELEMENT FaqItem ANY>
<!ATTLIST FaqItem id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT News ANY>
<!ATTLIST News id ID #REQUIRED>
<!ELEMENT NewsArea ANY>
<!ATTLIST NewsArea id ID #REQUIRED>
<!ELEMENT PromoItem ANY>
<!ATTLIST PromoItem id ID #REQUIRED>
<!ELEMENT PromoRepository ANY>
<!ATTLIST PromoRepository id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1054" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-08-08T15:00:12" updateDate="2014-08-12T13:10:45" nodeName="Welcome" urlName="welcome" path="-1,1054" isDoc="" nodeType="1053" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1052" nodeTypeAlias="HomePage">
    <TextPage id="1058" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2014-08-08T15:06:07" updateDate="2014-08-12T10:23:07" nodeName="Documentation" urlName="documentation" path="-1,1054,1058" isDoc="" nodeType="1056" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1055" nodeTypeAlias="TextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>Documentation</p>]]></bodyText>
      <FaqArea id="1122" parentID="1058" level="3" creatorID="0" sortOrder="0" createDate="2014-08-12T10:19:49" updateDate="2014-08-12T10:59:49" nodeName="FAQ" urlName="faq" path="-1,1054,1058,1122" isDoc="" nodeType="1121" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1120" nodeTypeAlias="FaqArea">
        <FaqItem id="1123" parentID="1122" level="4" creatorID="0" sortOrder="0" createDate="2014-08-12T10:22:16" updateDate="2014-08-12T10:22:49" nodeName="Is it possible to ask questions?" urlName="is-it-possible-to-ask-questions" path="-1,1054,1058,1122,1123" isDoc="" nodeType="1119" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1118" nodeTypeAlias="FaqItem">
          <yourName><![CDATA[Parsa]]></yourName>
          <yourEmail><![CDATA[py@vindenergi.dk]]></yourEmail>
          <answer><![CDATA[<p>Not yet</p>]]></answer>
        </FaqItem>
        <FaqItem id="1125" parentID="1122" level="4" creatorID="0" sortOrder="1" createDate="2014-08-12T10:36:15" updateDate="2014-08-12T10:36:15" nodeName="hey?" urlName="hey" path="-1,1054,1058,1122,1125" isDoc="" nodeType="1119" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1118" nodeTypeAlias="FaqItem">
          <yourName><![CDATA[Parsa Yousefi]]></yourName>
          <yourEmail><![CDATA[py@vindenergi.dk]]></yourEmail>
          <answer><![CDATA[Not answered yet]]></answer>
        </FaqItem>
      </FaqArea>
    </TextPage>
    <TextPage id="1059" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2014-08-08T15:06:31" updateDate="2014-08-11T14:06:55" nodeName="About US" urlName="about-us" path="-1,1054,1059" isDoc="" nodeType="1056" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1055" nodeTypeAlias="TextPage">
      <bodyText><![CDATA[<p>About US</p>]]></bodyText>
    </TextPage>
    <TextPage id="1066" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2014-08-11T10:21:47" updateDate="2014-08-11T14:06:55" nodeName="Products" urlName="products" path="-1,1054,1066" isDoc="" nodeType="1056" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1055" nodeTypeAlias="TextPage">
      <bodyText><![CDATA[<p>Products</p>]]></bodyText>
    </TextPage>
    <NewsArea id="1075" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2014-08-11T10:52:14" updateDate="2014-08-11T14:06:55" nodeName="News" urlName="news" path="-1,1054,1075" isDoc="" nodeType="1070" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1069" nodeTypeAlias="NewsArea">
      <bodyText><![CDATA[<p>This is</p>]]></bodyText>
      <News id="1077" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2014-08-11T10:57:03" updateDate="2014-08-11T14:06:55" nodeName="Almost Halfway" urlName="almost-halfway" path="-1,1054,1075,1077" isDoc="" nodeType="1072" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1071" nodeTypeAlias="News">
        <summary><![CDATA[Summary]]></summary>
        <bodyText><![CDATA[<p>Content!!!</p>
<p> </p>
<?UMBRACO_MACRO macroAlias="Gallery" mediaId="1078" />]]></bodyText>
      </News>
    </NewsArea>
    <PromoRepository id="1101" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2014-08-11T14:55:11" updateDate="2014-08-12T08:32:04" nodeName="Promo Repository" urlName="promo-repository" path="-1,1054,1101" isDoc="" nodeType="1100" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="0" nodeTypeAlias="PromoRepository">
      <umbracoNaviHide>1</umbracoNaviHide>
      <PromoItem id="1103" parentID="1101" level="3" creatorID="0" sortOrder="0" createDate="2014-08-11T15:07:32" updateDate="2014-08-11T15:07:37" nodeName="Intuitive" urlName="intuitive" path="-1,1054,1101,1103" isDoc="" nodeType="1099" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="0" nodeTypeAlias="PromoItem">
        <subheading><![CDATA[What you expect]]></subheading>
        <description><![CDATA[We have to work hard]]></description>
        <link>1058</link>
        <image><![CDATA[/media/1014/ipad-1.jpg]]></image>
      </PromoItem>
    </PromoRepository>
    <ezSearch id="1129" parentID="1054" level="2" creatorID="0" sortOrder="5" createDate="2014-08-12T12:46:14" updateDate="2014-08-12T12:52:38" nodeName="Search" urlName="search" path="-1,1054,1129" isDoc="" nodeType="1128" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1127" nodeTypeAlias="ezSearch">
      <umbracoNaviHide>1</umbracoNaviHide>
    </ezSearch>
    <bodyText><![CDATA[<p>Welcome!!</p>]]></bodyText>
    <faqs><![CDATA[1125]]></faqs>
  </HomePage>
  <HomePage id="1092" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-08-11T14:01:23" updateDate="2014-08-11T14:04:56" nodeName="Spanish" urlName="spanish" path="-1,1092" isDoc="" nodeType="1053" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1052" nodeTypeAlias="HomePage">
    <bodyText><![CDATA[<p>spanish welcome</p>]]></bodyText>
    <TextPage id="1093" parentID="1092" level="2" creatorID="0" sortOrder="0" createDate="2014-08-11T14:01:23" updateDate="2014-08-11T14:04:56" nodeName="Documentation" urlName="documentation" path="-1,1092,1093" isDoc="" nodeType="1056" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1055" nodeTypeAlias="TextPage">
      <bodyText><![CDATA[<p>Documentation</p>]]></bodyText>
    </TextPage>
    <TextPage id="1094" parentID="1092" level="2" creatorID="0" sortOrder="1" createDate="2014-08-11T14:01:23" updateDate="2014-08-11T14:04:56" nodeName="About US" urlName="about-us" path="-1,1092,1094" isDoc="" nodeType="1056" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1055" nodeTypeAlias="TextPage">
      <bodyText><![CDATA[<p>About US</p>]]></bodyText>
    </TextPage>
    <TextPage id="1095" parentID="1092" level="2" creatorID="0" sortOrder="2" createDate="2014-08-11T14:01:23" updateDate="2014-08-11T14:04:56" nodeName="Products" urlName="products" path="-1,1092,1095" isDoc="" nodeType="1056" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1055" nodeTypeAlias="TextPage">
      <bodyText><![CDATA[<p>Products</p>]]></bodyText>
    </TextPage>
    <NewsArea id="1096" parentID="1092" level="2" creatorID="0" sortOrder="3" createDate="2014-08-11T14:01:23" updateDate="2014-08-11T14:04:56" nodeName="News" urlName="news" path="-1,1092,1096" isDoc="" nodeType="1070" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1069" nodeTypeAlias="NewsArea">
      <bodyText><![CDATA[<p>This is</p>]]></bodyText>
      <News id="1097" parentID="1096" level="3" creatorID="0" sortOrder="0" createDate="2014-08-11T14:01:23" updateDate="2014-08-11T14:04:56" nodeName="Almost Halfway" urlName="almost-halfway" path="-1,1092,1096,1097" isDoc="" nodeType="1072" creatorName="Parsa Yousefi" writerName="Parsa Yousefi" writerID="0" template="1071" nodeTypeAlias="News">
        <summary><![CDATA[Summary]]></summary>
        <bodyText><![CDATA[<p>Content!!!</p>
<p> </p>
<?UMBRACO_MACRO macroAlias="Gallery" mediaId="1078" />]]></bodyText>
      </News>
    </NewsArea>
  </HomePage>
</root>