@inherits UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<!--promo slider html-->
@Html.Partial("promoSlider")
<!--end promo slider html-->
@Html.Partial("listHighlightedFAQItems")									
<hr>
									
<div class="row">
	<div class="span4">
		<h2>What we do?</h2>
		<ul>
			<li><a href="#">The most creative ideas</a></li>
			<li><a href="#">Professional researches</a></li>
			<li><a href="#">Precise and impartial approach</a></li>
			<li><a href="#">Providing best solutions</a></li>
			<li><a href="#">Individual customer support</a></li>
			<li><a href="#">Fresh ideas for growing your business</a></li>
			<li><a href="#">Dynamic development</a></li>
			<li><a href="#">Special customers support</a></li>
			<li><a href="#">We think globally</a></li>
		</ul>
		<a href="#" class="btn">Read more</a>
	</div>
	<div class="span4">
		<h2>About us</h2>
		<p>At nequ eget nisus leo vel nean necoulum antepsum prin faucibus oposuere cubind isse sollicitu dinvelit sed l pharetr.unt arra selorta diam eim velit. Fusc ismod conse quat aris accunte. </p>
		<p>Lorem ipsum dolor sit consectetue adicing elit. Pellentesque sed dolor. Aliqua ngue fermentum nisl. Mauris accuml dia. Sed in lacus ut enim adipiscing aliqIn pde aliquet sit amet euismod inuctor ut ligula.</p>
		<a href="#" class="btn">Read more</a>
	</div>
	<div class="span4">
		<h2>Latest news</h2>
		<ul>
			<li>
				<a href="#">
					<strong>News Headline 1</strong>
				</a>
				<br />
				<small>2014-04-14</small>
			</li>
			<li>
				<a href="#">
					<strong>News Headline 2</strong>
				</a>
				<br />
				<small>2014-04-14</small>
			</li>
			<li>
				<a href="#">
					<strong>News Headline 3</strong>
				</a>
				<br />
				<small>2014-04-14</small>
			</li>
			<li>
				<a href="#">
					<strong>News Headline 4</strong>
				</a>
				<br />
				<small>2014-04-14</small>
			</li>
			<li>
				<a href="#">
					<strong>News Headline 5</strong>
				</a>
				<br />
				<small>2014-04-14</small>
			</li>
		</ul>
		<a href="#" class="btn">Read more</a>
	</div>
</div>